<%if(posts.length!==0){%>
<div class="container-fluid row justify-content-center pt-5">
  <% posts.forEach((post)=>{ %>
  <div class="col-md-8 col-sm-12 my-2"><%- include('card', {post : post}) %></div>
  <%})%>
</div>
<%}else{%>
<div class="alert alert-danger" role="alert">No Post available, Upload from admin page!</div>
<%}%>
