<% if(typeof msg !== 'undefined'){ %>
<div>
  <% msg.forEach((el)=>{ %>

    <% if(el.type==='success' ){%>
  <div class="alert alert-success alert-dismissible fade show h-50 p-2" role="alert">
  <% } %>
  
  <% if(el.type==='danger' ){%>
  <div class="alert alert-danger alert-dismissible fade show h-50 p-2" role="alert">
  <% } %>
  
  <% if(el.type==='warning' ){%>
  <div class="alert alert-warning alert-dismissible fade show h-50 p-2" role="alert">
      
  <% } %>
  <%= el.msg %>
  <button type="button" class="btn-close h-50 p-2" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% })%>
    
</div>
<%}%>
